@model WDP_Assessment_3.Models.AIImage
@using System.Globalization
@using System.IO

@{
ViewData["Title"] = "Details Page";
}

<div class="d-flex flex-column align-items-center text-light" id="details-page">
    <h1 class="pb-5 fw-bold">@Html.DisplayFor(model => model.ImageGenerator) AI Image</h1>


    <div class="d-flex flex-row text-light border border-light border-3 rounded-3 bg-dark">
        <img src="/img/@(Html.DisplayFor(model => model.Filename))"
            alt="AI Image for @(Html.DisplayFor(model => model.Filename))" class="pe-3" />

        <div class="d-flex flex-column text-light ps-3 flex-grow-1">
            <h2 class="text-center pt-3">
                @Html.DisplayFor(model => model.ImageGenerator)
            </h2>

            <p class="text-start text-wrap py-3 flex-grow-1">
                @Html.DisplayFor(model => model.Prompt)
            </p>

            @if (User.IsInRole("admin"))
            {
            <div class="d-inline-flex flex-row justify-content-end pb-3 px-3">
                <button type="button" class="btn btn-primary">
                    Like(@Html.DisplayFor(model => model.Like))
                </button>
                <a class="btn btn-success mx-3" asp-action="Edit" asp-route-id="@Model?.Id">
                    Edit
                </a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">
                    Delete
                </a>
            </div>
            }
            else if (User.IsInRole("user"))
            {
            <div class="d-inline-flex flex-row justify-content-end pb-3 px-3">
                <button type="button" class="btn btn-primary">
                    Like(@Html.DisplayFor(model => model.Like))
                </button>
            </div>
            }
            else
            {
            <div class="d-inline-flex flex-row justify-content-end pb-3 px-3">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
                    Back to Home
                </a>
            </div>
            }
        </div>
    </div>
</div>
